.mheader{
    top:0;
    z-index: 100;
    height: 65px;
    width: 100%;
    display: flex;
    background-color: #184FD6;
    align-items:center;
}



.mlogo-container{
    height: 66px;
    width: 50%;    
    margin: 0 auto;
    margin-top: 20px;
    bottom: 0;
    align-items: center;     
}

.mlogoc{
    margin-left:70px;
}

.mlogo{
    width:65px;
}