@mixin createBox($width, $height, $margin){
  width:$width;
  height:$height;
  margin:$margin;
  transition:.3s all ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(+100%);
  }
  100% {
      transform: translateX(0);
  }
}

.square{
  position:relative;
  height:30px;
  width:8px;
  background-color: #184FD6;
  top:5px;
}

.homepage {
    position:relative;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;

  }
  
  .landing{
    position: inherit;
    display:flex;
    width:100%;
    height:1000px;
    background-position: left 100px top 0;
    background-image: url("../../assets/caciki_szobor.svg");
    background-size: auto;
    background-repeat: no-repeat;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    .main-picture{
      //display:flex;
      position:absolute;
      left: 50%;
      top: 20%;     
      //animation: 1s ease-out 0s 1 slideInFromRight;
    }

    .name1{                
      font-size:3em;
      font-weight: bold;
        
    }
    
    .pont{
      color:#184FD6;
    }

    .name2{        
      font-size:2em;
      color:#77777A;
    }
  }

  .menu{
    display:flex;
    position: inherit;
    align-items: center;
    justify-content: center;
    width:100%;
    height:400px;
    background-position: center;
    background-image: url("../../assets/caciki_sorminta.svg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    
    .menu1{
      @include createBox(500px, 70px, 1px);
      position: absolute;
      background-color: white;
      font-size: 45px;
      font-weight: bold;
      color:#184FD6;
      border-radius: 20px;
      padding:10px;
      cursor: pointer;

      &:hover {
        background-color: #FFEE1A;
        color: #184FD6;
        border: none;
        transform:translate(0%,-50%)
      }

      .menu-link{
        text-decoration: inherit;
        color:inherit;
      }
    }

    .menu2{
      position: relative;
      top: 30%;
      color:#68686A;
      font-weight: bold;
      font-size:13px;
    }

  }

  .item1{
    margin-left:15px;
    font-size: 30px;
    font-weight: bold;
    border-left:9px solid #184FD6;
    padding-left: 10px;
    height: 50px;
  }

  .galery{
    display:flex;
    position: inherit;
    width:100%;
    height:800px;
    margin:50px;
    

    
    
    .pictures{
      display:flex;     
      position: absolute;
      left:50%;
      top:50%;
      margin: -25px 0 0 -25px;
      width:100%;
      height:70%;
    }

  }

  .about{
    display: flex;
    position:inherit;
    width: 100%;
    height:900px;    
    background-image: url("../../assets/caciki_sorminta.svg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

    .items{
      position:inherit;
      width:80%;
      display:flex;
      justify-content: space-between;
      margin: 30px auto;
     

        .maps1{
          border-radius:50px;
          border:1px; 
        }
  
      
    }
  }
  
